            .logo_accueil_div {
                display: flex;
                justify-content: center;
            }
            
            nav {
                overflow: hidden;
                background-color: #1b1b1b;
                width: 100%;
            }
            
            .nom_nav {
                float: right;
                font-size: 18px;
                font-family: 'Raleway';
                display: flex;
                align-items: center;
                padding-right: 35px
            }
            
            header ul {
                float: left;
                font-size: 18px;
                font-family: 'Raleway';
            }
            
            header ul a {
                text-decoration: none;
                color: white;
                display: block;
                text-align: center;
                padding: 0px 1px;
            }
            /* Body */
            
            BODY {
                padding: 0;
                margin: 0;
            }
            /* About  */
            
            .about_section {
                background-color: #1b1b1b;
                padding: 20px 0px 20px 0px;
                text-align: center;
            }
            
            .dep_title {
                color: white;
                font-size: 35px;
                font-family: 'Dancing Script', cursive;
                text-align: center;
            }
            
            .title_blue {
                color: #0099ff;
                font-size: 20px;
                font-family: Raleway;
                text-align: center;
            }
            
            .HR_ABOUT {
                margin: 0px 660px;
            }
            
            .p_about {
                color: white;
                text-align: center;
                font-size: 18px;
                padding: 20px 0px;
                font-family: raleway;
                padding: 0px 180px 0px 180px;
                text-align: center;
                margin: 30px 150px;
            }
            
            .border_img {
                border-radius: 25px;
                width: 250px;
                height: 250px;
            }
            
            .line3 {
                background-color: yellow;
                border-radius: 4px;
                padding: 2px 18px;
                margin-right: 30px;
            }
            
            .line46 {
                background-color: rgb(0, 119, 255);
                border-radius: 4px;
                padding: 2px 14px;
                margin-right: 30px;
                color: white;
            }
            
            .line47 {
                background-color: rgb(0, 182, 0);
                border-radius: 4px;
                padding: 2px 14px;
                margin-right: 30px;
                color: white;
            }
            
            .line51 {
                background-color: purple;
                border-radius: 4px;
                padding: 2px 14px;
                margin-right: 30px;
                color: white;
            }
            
            .destination_text {
                text-decoration: none;
                font-family: raleway;
                color: black;
                width: 350px;
            }
            
            .logo_spozito {
                height: 150px;
                width: 150px;
                border-radius: 50px;
            }
            
            .logo_gokart {
                height: 150px;
                width: 180px;
                border-radius: 25px;
                margin-left: 20px;
            }
            
            .box_line {
                background-color: white;
                padding: 50px 80px;
                border-radius: 20px;
                margin: 0px 150px 150px;
            }
            
            .section_line {
                padding: 80px 0px;
            }
            
            .div_line {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                justify-content: center;
            }
            
            .title_white {
                color: white;
                font-size: 18px;
                font-family: Raleway;
            }
            
            .div_discord {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .div_discord_text {
                justify-content: center;
                text-align: center;
            }
            
            .div_line_text {
                width: 500px;
            }
            
            .div_box_partenaire {
                display: flex;
                justify-content: center;
                background-color: #1b1b1b;
                margin: 150px 100px 280px 100px;
                border-radius: 50px;
                width: 50%;
            }
            
            .div_partenaire_text {
                text-align: center;
                padding: 20px 0px;
                pos
            }
            /* Footer  */
            
            footer {
                background-color: #1b1b1b;
                color: white;
                padding: 20px 0 10px 0;
                text-align: center;
                font-size: 20px
            }
            
            .p_partenaire {
                color: white;
                font-family: raleway;
                padding: 40px;
                text-align: left;
                margin: 0px 50px;
            }
            
            .box_contact {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 100px 100px 450px 100px;
                border-radius: 15px;
                background-color: #1b1b1b;
                padding: 40px 0px;
            }
            
            .p_contact {
                color: white;
                font-family: raleway;
                font-size: 15px;
                font-weight: bold;
            }
            
            .contact_character {
                margin: 0px 30px;
            }
            /* NAME HOME  */
            
            .accueil {
                padding: 80px 0px 80px 0px;
            }
            
            .collum_div {
                display: flex;
                flex-direction: column;
            }
            
            .div_linecarte {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .div_partenaire_main {
                display: flex;
                justify-content: center;
            }
            /* BACKGROUND VIDEO */
            
            .background-video {
                height: 100vh;
                width: 100vw;
                object-fit: cover;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
            
            h1 {
                font-size: 6rem;
            }
            
            h2 {
                font-size: 3rem;
            }
            
            .background-image {
                height: 100vh;
                width: 100vw;
                object-fit: cover;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
            
            .btn {
                background-color: #0099ff;
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 1;
                transition: 0.3s;
                margin-top: 20px;
                border-radius: 10px;
            }
            
            .btn:hover {
                opacity: 0.6
            }
            
            .responsable_picture {
                width: 180;
                height: 180;
                border-radius: 25px;
                margin-bottom: 20px;
            }
            
            .conducteur_picture {
                width: 120;
                height: 120;
                border-radius: 25px;
                margin-bottom: 20px;
            }
            
            .grades {
                font-family: raleway;
                color: #0099ff;
                font-size: 15px;
            }
            
            .avis_conducteur_p {
                color: white;
                font-family: raleway;
                text-align: left;
                font-size: 18px;
            }
            
            .avis_conducteur_box {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #161616;
                padding: 50px;
                margin: 50px 250px;
                border-radius: 35px;
                text-align: center;
            }
            
            .avis_div {
                margin-bottom: 150px;
            }
            
            @media screen and (min-width: 2560px) {
                .about_section {
                    padding: 40px 0px 40px 0px;
                }
                .accueil {
                    padding: 190px 0px 190px 0px;
                }
                .box_line {
                    margin-bottom: 450px;
                }
                .logo_spozito {
                    height: 200px;
                    width: 200px;
                }
                .logo_gokart {
                    height: 200px;
                    width: 240px;
                }
                .div_box_partenaire {
                    margin-bottom: 580px;
                }
                .box_contact {
                    margin: 200px 300px 650px 300px;
                }
                .grades {
                    font-size: 18px;
                }
                .p_about {
                    margin-left: 450px;
                    margin-right: 450px;
                }
                .conducteur_picture {
                    width: 150px;
                    height: 150px;
                }
            }
            
            @media screen and (min-width: 1520px) and (max-width: 1900px) {
                .about_section {
                    padding: 30px 0px 30px 0px;
                }
                .logo_spozito {
                    height: 180px;
                    width: 180px;
                }
                .logo_gokart {
                    height: 180px;
                    width: 200px;
                }
                .box_contact {
                    margin: 100px 100px 450px 100px;
                }
                .responsable_picture {
                    width: 130px;
                    height: 130px;
                }
                .contact_character {
                    margin: 0px 30px;
                }
                .p_contact {
                    font-size: 14px;
                }
                .grades {
                    font-size: 14px;
                }
                .conducteur_picture {
                    width: 130px;
                    height: 130px;
                }
            }
            
            @media screen and (min-width: 1377px) and (max-width: 1520px) {
                .about_section {
                    padding: 20px 0px 20px 0px;
                }
                .logo_spozito {
                    height: 150px;
                    width: 150px;
                }
                .logo_gokart {
                    height: 150px;
                    width: 170px;
                }
                .box_contact {
                    margin: 100px 50px 450px 50px;
                }
                .responsable_picture {
                    width: 120px;
                    height: 120px;
                }
                .contact_character {
                    margin: 0px 30px;
                }
                .p_contact {
                    font-size: 15px;
                }
                .grades {
                    font-size: 15px;
                }
                .conducteur_picture {
                    width: 120px;
                    height: 120px;
                }
            }
            
            @media screen and (min-width: 1150px) and (max-width: 1376px) {
                .about_section {
                    padding: 20px 0px 20px 0px;
                }
                .logo_spozito {
                    height: 140px;
                    width: 140px;
                }
                .logo_gokart {
                    height: 140px;
                    width: 160px;
                }
                .box_contact {
                    margin: 100px 50px 550px 50px;
                }
                .responsable_picture {
                    width: 110px;
                    height: 110px;
                }
                .contact_character {
                    margin: 0px 20px;
                }
                .p_contact {
                    font-size: 12px;
                }
                .grades {
                    font-size: 12px;
                }
                .conducteur_picture {
                    width: 110px;
                    height: 110px;
                }
            }